:root{
--bg-color-light:#CDDAB2;
--bg-color-dark:#31533B;
--bg-color-btn:#B3B476;
--bg-color-choice:#CE4115;
--color-dark:#1A3923;
--color-light:#F5F9ED;
--color-light-beige:#FBF1E3;


  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
}

h1,
h2,
h3
h4{
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}
a{
  color: inherit;
  text-decoration: none;
}
img{
  width: 100%;
  object-fit: cover;
}
ul{
  padding-left: 0;
  list-style: none;
}
.main{
  flex: 1 0 auto;
}

.wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.cross-center{
  align-items: center;
}
@media screen and (min-width:768px) {
  :root{
    font-size: 18px;
  }

  
} 