
.servicos-heading {
  margin-top: 4.38rem;
  margin-bottom: 2.5rem;
  color: var(--color-dark);
  font-size: 2.5rem;
}
.servicos-article {
  height: 100%;
  padding: 3.12rem 1.25rem 1.25rem;
  border: 1px solid black;
  background-color: var(--bg-color-dark);}

.servicos-individual {
    margin: 0;
  font-size: 1.87rem;
  color: var(--color-light);
}
.servicos-info {
  color: var(--color-light);
}
.btn {
  display: block;
}
.button-info {
  width: 100%;
  /* height: 58px; */
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: 2px solid white;
  background-color: var(--bg-color-btn);
  text-align: left;
  font-size: 16px;
  font-weight: bold;
    position: relative;
}
.button-info::after {
  content: "";
  display: inline-block;
  width: 1.3rem;
  height: 0.8rem;
  background-image: url(./../icons/CaretDown.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: 10px;
  top: 25px;
}

.button-choice {
  display: block;
  width: 80%;
  height: 45px;
  margin: 1.25rem auto 2.44rem;
  border: 1px solid black;
  background-color: var(--bg-color-choice);
  font-weight: bold;
  color: var(--color-light-beige);
  text-transform: uppercase;
  position: relative;
  font-family:inherit;
}
.button-choice:not(.btn-portfolio)::before {
  content: " ";
  display: inline-block;
  background-image: url(./../icons/Check.svg);
  background-repeat: no-repeat;
  width: 1.3rem;
  height: 1rem;
  position: absolute;
  left: 25px;
}
.hidden-text-btn{
  font-size: 0;
}
.btn-portfolio{
  margin-bottom: 3px;
  background-color:var(--bg-color-dark);
  border:2px solid var(--bg-color-choice);
  position: relative;
}
.btn-portfolio::before{
  content:"";
  display: inline-block;
  width: 22px;
  height: 22px;
  
  background-image:url(./../icons/Behance@2x.png);
  background-repeat:no-repeat;
  background-size: 100%;
  position: absolute;
  left: 20px;
  bottom: 12px;

}
.servicos-span{
  color:var(--color-light);
}



.margin-bottom{
  margin-bottom: 20px;
}

@media screen and (min-width:768px){
  .hidden-text-btn{
  font-size:1rem;
}
.btn-inline-blok{
  margin: 0 20px;
  width: 48%;
  height:78px;
}
.btn{
  font-size: 1.12rem;
}
.adaptation{
  display: flex;
}

}